*{
  padding: 0;
  margin: 0;
}


#title{
  text-align: center;
  padding: 25px;
}

#collor-pallette {

}

.color {
  width: 40px;
  height: 40px;
  margin: 3px;
  border: 1px solid rgb(0, 0, 0);
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  margin: 3px;
  border: 1px solid rgb(0, 0, 0);
}

.tr {
  display: table-row;
  text-align: center;
  
}

.td {
 display: inline-block;
}

